<br>
<br>
<br>
<body>

<h4 class="mt-5 mb-5 col-md-4 text-center text-success bg-dark" *ngIf="msg">{{msg}}</h4>

<h2 style="text-align: center;color:red;background-color:white">LoanType Details</h2>
<div class="mt-4 mb-3 col-md-3 offset-4 float-right ">
  <input type="search" name="search" id="search" placeholder="Enter loan type Search" [(ngModel)]="search" class="form-control">
</div>
<table class="table book-class table-bordered table-striped table-light mt-5 mb-5 col-md-4 offset-2">
    <thead style="color: red;">
      <tr>
        <th scope="col">LOANTYPE</th>
        <th scope="col">DURATION(yr)</th>
        <th scope="col">RATE OF<br>INTEREST(%)</th>
        <!-- <th scope="col">productImg</th> -->
        <!-- <th scope="col">EMI</th> -->
        <th scope="col">LOAN<br>AMOUNT(₹)</th>
        <th scope="col">MONTHLY EMI(₹)</th>
        <th scope="col">INTEREST PAY(₹)</th>
        
        <th scope="col">PAY AMOUNT(₹)</th>
        <!-- <th scope="col"> TOTAL  INTEREST(₹)</th> -->
        
        
      </tr>
    </thead>
    <tbody style="text-align: center;">
      <tr *ngFor="let loanprogram of Loans.loantype | filter: search">
      
        
          <td scope="row">{{loanprogram.loanType}}</td>
          <td>{{loanprogram.duration}}/yr</td>
          <td>{{loanprogram.rateOfInterest}}%</td>
        
          <!-- <td>{{loan.emi}}</td> -->
          <td>{{loanprogram.loanAmount}}₹</td>
          <td>{{(((loanprogram.loanAmount * (loanprogram.rateOfInterest/100) * (1+(loanprogram.rateOfInterest /100)) * loanprogram.duration * 12)/((1+(loanprogram.rateOfInterest/100))*loanprogram.duration * 12 - 1))*2) | number :'1.0-2'}}</td>
          <td>{{(loanprogram.loanAmount * (loanprogram.rateOfInterest/100) * (1+(loanprogram.rateOfInterest /100)) * loanprogram.duration * 12)/((1+(loanprogram.rateOfInterest/100))*loanprogram.duration * 12 - 1) | number :'1.0-2'}}</td>
              
          <td>{{(loanprogram.loanAmount + (loanprogram.loanAmount * (loanprogram.rateOfInterest/100) * (1+(loanprogram.rateOfInterest /100)) * loanprogram.duration * 12)/((1+(loanprogram.rateOfInterest/100))*loanprogram.duration * 12 - 1)) | number :'1.0-2'}}</td>
              
               
          
      </tr>
    </tbody>
   
  </table>
  </body>
 
 