<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive contactUs page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
     integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <section class="contact">
        <div class="content">
          <br>
          <h2> </h2>
            <h2>ContactUs</h2><p>We would love to hear from you!
                Send us a question or comment with the form and we will be in touch with you as soon as possible
            </p>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><i class="fa fa-address-book" aria-hidden="true"></i>
                    </div>
                    <div class="text">

                        <h3>Address</h3>
                        <p>Quinnox Loans</p>
                        <p>Local Head Office</p>
                        <p>Yelhanka new town</p>
                        <p> yelhanka</p>
                           <p> Banglore -560064</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-phone-square" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>044-66195622</p>
                        <p>044-6619-5623</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>kavitha@gmail.com</p>
                    </div>
                </div>
            </div>
             <div class="contactForm">
                <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="name" required>
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="email" name="email" required>
                        <span>Email Id</span>
                    </div>
                    <div class="inputBox">
                        <textarea required ></textarea>
                        <span>Type Message</span>
                    </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Send">
                </div>
            </div> 
        </div> 
    </section>
   
</body>
</html>