<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 50%;
  }
  
  </style>
</head>
<body>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.pixabay.com/photo/2018/01/17/04/14/stock-exchange-3087396__340.jpg" alt="loans" width="600" height="200">
      <div class="carousel-caption">
        <h3 style="color: red;"><b>Quinnox Loans</b></h3>
        <p><b>Quinnox Loans</b> - A wide range of solution for all of your financial needs!</p>
        <p> Quinnox Loans offers a wide range of retail loans to meet your diverse needs. Whether the need is for a new house, child education, purchase of a new car or home appliances, our unique and need specific loans will enable you to convert your dreams to realities Quinnox   A Loan from Quinnox loans helps you meet your diverse financial needs during an emergency. It is an unsecured loan and can be used for marriage expenses, paying the medical bills, going for your dream vacation or renovating your home. Irrespective of what your financial goals are, Quinnox Loans offers you the perfect solution.</p>
  <h3 style="color: orangered">GET INSTANT AND QUICK LOANS</h3>
       
      </div>   
    </div>
    <div class="carousel-item">
      <img src="https://cdn.pixabay.com/photo/2018/07/02/20/02/mentor-3512369__340.jpg" alt="education" width="600" height="200">
      <div class="carousel-caption">
        <h3 style="color: red;">Education Loan</h3>
        <p>A student loan is a type of loan designed to help students pay for post-secondary education and the associated fees, such as tuition, books and supplies, and living expense!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="https://cdn.pixabay.com/photo/2017/12/22/08/01/image-3033200_960_720.jpg" alt="home" width="600" height="100">
      <div class="carousel-caption">
        <h3 style="color: red;">Home Loan</h3>
        <p>A house loan or home loan simply means a sum of money borrowed from a financial institution or bank to purchase a house!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="https://cdn.pixabay.com/photo/2015/10/29/16/42/money-1012599_960_720.jpg" alt="business" width="500" height="100">
      <div class="carousel-caption">
        <h3 style="color: red;">Business Loan</h3>
        <p style="color: black;">A business loan is a loan specifically intended for business purposes. As with all loans, it involves the creation of a debt, which will be repaid with added interest.!</p>
        
      </div>   
    </div>
    <!-- <div class="carousel-item">
      <img src="https://cdn.pixabay.com/photo/2016/04/25/07/49/man-1351346__340.png" alt="person" width="500" height="100">
      <div class="carousel-caption">
        <h3 style="color: red;">Personal Loan</h3>
        <p style="color: black;">A business loan is a loan specifically intended for business purposes. As with all loans, it involves the creation of a debt, which will be repaid with added interest.!</p>
      </div>   
    </div> -->
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

</body>
</html>
